astroid==3.3.4
colorama==0.4.6
dill==0.3.8
grid @ file:///C:/Users/isido/Documents/grid-0.7.1.tar.gz
isort==5.13.2
mccabe==0.7.0
numpy==1.24.2
platformdirs==4.3.6
pylint==3.3.1
tomli==2.0.1
tomlkit==0.13.2
typing_extensions==4.12.2
